/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* units: rem = 16px;*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**end of reset**/

body{
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	font-weight: 300;
}

header{
	width:100%;
	clear: both;
	text-align: center;
}

h1{
	font-family: 'Lobster', cursive;
	font-size: 1.9rem;
	text-align: center;
	margin: 1rem;

	color:#E94E4A;
}

footer h1{
	color:#fff;
}


h2{
	font-family: 'Suez One', serif;
	font-size: 2.3rem;
	text-align: center;
}

h3{
	font-family: 'Suez One', serif;
	font-size: 1.8rem;
	text-align: center;
	color: #7F7F7F;
}

h4{
	font-family: 'Roboto', sans-serif;

}

nav{
	display: none;
}

nav a:visited{    
	text-decoration: none;
    color: #000;
}

nav a:hover{    
	text-decoration: none;
    color: #E94E4A;

}

nav a{    
	text-decoration: none;
    color: black;
}

red{
	color:#E94E4A;
}

.logo{
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

.logo-text{
	padding:0.6rem;
	float:right;
}

.logo-image{
width:5rem;
height: auto;
	float:right;
}

.logo-image:after{
	clear:both;
}

main{
	width: 100%;
}
.main-inner {
	margin-top: 4rem;
}

#intro{
	font-family: 'Lobster', cursive;
	font-size: 1.9rem;
}

.money{
	color:#E94E4A;
}

.section{
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	margin-bottom: 8rem;
	height:100vh;
}

.inner-section{
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

#intro{
	margin-bottom:-7rem;
}
#sky{
	margin-bottom:0rem;
	margin-left: 0rem;
	margin-right: 0rem;
}
#contact{
	margin-top: 10rem;
	height:50vh;
}


#sky{
	background-color: #E2E2E2;
	padding-bottom: 12rem;
	position: relative;
	width: 100%;
	height:80vh;
}



#trees{
}
.wood-clouds{
	position:absolute;
	width:100%;
	bottom: -3rem;

}
#trees{

    position: relative;
}

#clouds{
	position: relative;
	top:5rem;
}


footer{
	background-color:#E94E4A;
	padding: 2rem; 
}

button{
	margin-bottom: 1rem;
	margin-top: 1rem;
	padding-top:0.6rem;
	padding-bottom:0.6rem;
	padding-left:1.2rem;
	width: 7rem;
	padding-right:1.2rem;
	border: solid 3px #E94E4A;
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1rem;
	color: #E94E4A; 
	display: inline-block;
}

button:active{
	background-color: #E94E4A;
	color: white; 
}

button:focus{
	outline:none; 
}

.contact-buttons{
    text-align: center;
    margin-top: 3rem;
    display: inline-block;
    width: 100%;
}

.contact-buttons button:nth-child(2){
	margin-left:2rem;
}

.parallax-mirror {
	display: none;
}

#send-form-button{
	float:right;
}

#portfolio-button{
	float:left;
}

#blog-button{
	float:right;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------over 400-------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 400px){
body{
	font-size: 1.4rem;
}

h1{
	font-size: 2.2rem;
}

h2{
	font-size: 2.8rem;
}

h3{
	font-size: 2.3rem;
}

h4{
}

.logo{
}

.logo-text{
	padding:1rem;
}

.logo-image{
width:6rem;
}

.section:nth-child(1){
	margin-bottom:-15rem;
}

button{
	padding-top:0.8rem;
	padding-bottom:0.8rem;
	width: 10rem;
	border: solid 3px #E94E4A;
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	color: #E94E4A; 
	display: inline-block;
}

.main-inner {
	margin-top: 6rem;
}

#intro{
	font-size: 2.2rem;
}





.section{
	margin-bottom: 8rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.inner-section {
    margin-left: 2rem;
    margin-right: 2rem;
}

#sky-top{
	position: relative;
	top:5rem;
}
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------over 600-------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 600px){
body{
	font-size: 1.6rem;
}

h1{
	font-size: 2.5rem;
}

h2{
	font-size: 3.2rem;
}

h3{
	font-size: 2.8rem;
}

h4{
}

.logo{
}

.logo-text{
	padding:1rem;
}

.logo-image{
width:7.5rem;
}

.section:nth-child(1){
	margin-bottom:-15rem;
}


button{
	padding-top:1rem;
	padding-bottom:1rem;
	width: 20rem;
	border: solid 3px #E94E4A;
	font-size: 1.4rem;
}

.main-inner {
	margin-top: 6rem;
}

#intro{
	font-size: 2.8rem;
}





.section{
	margin-bottom: 8rem;
	margin-left: 3rem;
	margin-right: 3rem;
}

.inner-section {
    margin-left: 3rem;
    margin-right: 3rem;
}

#sky-top{
	position: relative;
	top:5rem;
}
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------over 800-------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@media only screen and (min-width: 800px){

body{
	font-size: 1.6rem;
}

h1{
	font-size: 4rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

h2{
	font-size: 3.6rem;
}

h3{
	font-size: 3rem;
}

h4{
}

.logo-image{
width:8rem;
}

#intro{
	font-size: 4rem;
}

nav{
	display: block;
	width:600px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

nav ul{display: inline-block;
}

nav li{
	float: left;
	padding: 1rem;
}




.section{
	width:750px;
	margin-bottom: 8rem;
	margin-left: auto;
	margin-right: auto;
	height: 100vh;
}

.inner-section{
	width:750px;
	margin-left: auto;
	margin-right: auto;
}

.section:nth-child(1){
	margin-bottom:-7rem;
}
.section:nth-child(2){
	margin-bottom:0rem;
	width:100%;
}
.section:nth-child(3){
	margin-top: 0rem;
	height:100vh;
}


button{
	padding-top:1rem;
	padding-bottom:1rem;
	width: 20rem;
	border: solid 3px #E94E4A;
	font-size: 1.8rem;
}

.wood-clouds {
    display: none;
}



/** paralax */


.parallax-container {
	background: transparent;
	height: 800px;
	width:100%;
}

.parallax-container-sky {
	background: transparent;
	height: 300px;
}

.parallax-mirror {
	display: unset;
	width:100% !important; 	
}


/** paralax */

footer{

    margin-top: 800px;
}

#sky{
	padding-bottom: 16rem;
	display: inline-block;
}

#services{
	padding-bottom: 0rem;
}

#contact{
	padding-top: 5rem;
	height: 0vh;
}


#sky-top{
display: none;
}

#links{
	padding-left: 5rem;
	padding-bottom: 5rem; 
}


}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------over 1200-------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@media only screen and (min-width: 1200px){

body{
	font-size: 1.6rem;
}

h1{
	font-size: 4rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

h2{
	font-size: 4rem;
}

h3{
	font-size: 3.2rem;
}

h4{
}

.logo-image{
width:10rem;
}

#intro{
	font-size: 4rem;
}


.section{
	width:1000px;
	margin-bottom: 8rem;
	margin-left: auto;
	margin-right: auto;
	height: 100vh;
}

.inner-section{
	width:1000px;
	margin-left: auto;
	margin-right: auto;
}

button{
	padding-top:1rem;
	padding-bottom:1rem;
	width: 25rem;
	border: solid 3px #E94E4A;
	font-size: 1.8rem;
}



/** paralax */


.parallax-container {
	background: transparent;
	height: 800px;
}

.parallax-container-sky {
	background: transparent;
	height: 300px;
}

.parallax-mirror {
	display: unset;
}


/** paralax */


}