html{
	font-size:1.5rem;
	}


p{
	width:800px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
}
.parallax-container{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background:transparent;
	min-height: 400px;
}