/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**end of reset**/

body{
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	font-weight: 300;
}

header{
	width:100%;
	clear: both;
	text-align: center;
}

h1{
	font-family: 'Lobster', cursive;
	font-size: 1.9rem;
	text-align: center;
	margin: 1rem;

	color:#E94E4A;
}

h2{
	font-family: 'Suez One', serif;
	font-size: 2.3rem;
	text-align: center;
}

h3{
	font-family: 'Suez One', serif;
	font-size: 1.8rem;
	text-align: center;
	color: #7F7F7F;
}

h4{
	font-family: 'Roboto', sans-serif;

}

nav{
	display: none;
}

red{
	color:#E94E4A;
}

.logo{
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
}

.logo-text{
	padding:0.6rem;
	float:right;
}

.logo-image{
width:5rem;
height: auto;
	float:right;
}

.logo-image:after{
	clear:both;
}

main{
	width: 100%;
}
.main-inner {
	margin-top: 4rem;
}

#intro{
	font-family: 'Lobster', cursive;
	font-size: 1.9rem;
}

.money{
	color:#E94E4A;
}

.section{
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	margin-bottom: 8rem;
	height:100vh;
}

.inner-section{
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.section:nth-child(1){
	margin-bottom:-7rem;
}
.section:nth-child(2){
	margin-bottom:0rem;
	margin-left: 0rem;
	margin-right: 0rem;
}
.section:nth-child(3){
	margin-top: 10rem;
	height:50vh;
}


#sky{
	background-color: #E2E2E2;
	padding-bottom: 12rem;
	position: relative;
}

#sky::before{
	content: ".";
	width: 100%;
    background-image: url(./images/sky.svg);
    height: 6rem;
    display: inline-block;
    background-repeat: no-repeat;
}

#trees{
}
.wood-clouds{
	position:absolute;
	width:100%;
	bottom: -3rem;

}
#trees{

    position: relative;
}

#clouds{
	position: relative;
	top:2.5rem;
}


footer{
	background-color:#E94E4A;
	padding: 2rem; 
}

button{
	margin-bottom: 1rem;
	margin-top: 1rem;
	padding-top:0.6rem;
	padding-bottom:0.6rem;
	padding-left:1.2rem;
	width: 7rem;
	padding-right:1.2rem;
	border: solid 3px #E94E4A;
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1rem;
	color: #E94E4A; 
	display: inline-block;
}

button:active{
	background-color: #E94E4A;
	color: white; 
}

button:focus{
	outline:none; 
}

.contact-buttons{
	text-align: center;
}

.contact-buttons button:nth-child(2){
	margin-left:2rem;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------over 400-------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 400px){
body{
	font-size: 1.4rem;
}

h1{
	font-size: 2.2rem;
}

h2{
	font-size: 2.8rem;
}

h3{
	font-size: 2.3rem;
}

h4{
}

.logo{
}

.logo-text{
	padding:1rem;
}

.logo-image{
width:6rem;
}

.section:nth-child(1){
	margin-bottom:-15rem;
}

button{
	padding-top:0.8rem;
	padding-bottom:0.8rem;
	width: 10rem;
	border: solid 3px #E94E4A;
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	color: #E94E4A; 
	display: inline-block;
}

.main-inner {
	margin-top: 6rem;
}

#intro{
	font-size: 2.2rem;
}

.wood-clouds{
	bottom: 0rem;

}




.section{
	margin-bottom: 8rem;
}
}



/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------over 800-------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@media only screen and (min-width: 800px){
body{
	font-size: 1.6rem;
}

h1{
	font-size: 4rem;
}

h2{
	font-size: 3.6rem;
}

h3{
	font-size: 3rem;
}

h4{
}
}