/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/* units: rem = 16px;*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**end of reset**/

body{
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	font-weight: 300;
}

header{
	width:100%;
	clear: both;
	text-align: center;
}

h1{
	font-family: 'Lobster', cursive;
	font-size: 1.9rem;
	text-align: center;
	margin: 1rem;

	color:#E94E4A;
}

.page-footer h1{
	color:#fff;
}

main{

    animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    animation-name: anim	;
}


h2{
	font-family: 'Suez One', serif;
	font-size: 2.3rem;
	text-align: center;
}

h3{
	font-family: 'Suez One', serif;
	font-size: 1.8rem;
	text-align: center;
	color: #7F7F7F;
}

h4{
	font-family: 'Roboto', sans-serif;

}


nav{

}

nav a:visited{    
	text-decoration: none;
    color: #999;
}

nav a:hover{    
	text-decoration: none;
    color: #E94E4A;

}

nav a{    
	text-decoration: none;
    color: black;
}

red{
	color:#E94E4A;
}

.logo{
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
	display: inline-block;
	height: auto;
}

.scale-header{
	height:3rem;
}

.logo-text{
	padding:0.6rem;
	float:right;
}

.logo-image{
width:5rem;
height: auto;
	float:right;
}

.logo-image:after{
	clear:both;
}

main{
	width: 100%;
}
.main-inner {
	margin-top: 4rem;
}

#intro{
	font-family: 'Lobster', cursive;
	margin-bottom:-7rem;
	font-size: 1.9rem;
	height:80vh;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    animation-name: anim;
}


.entry-header a{
	text-decoration: none;
	color: #000;
}

@-webkit-keyframes anim {
  0%   { opacity: 0;}
  20% { opacity: 0.6;}
  100% { opacity: 1; }
}


.money{
	color:#E94E4A;
}


.section{
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	margin-bottom: 8rem;
	height:100vh;
}

.inner-section{
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

#sky{
	margin-bottom:0rem;
	margin-left: 0rem;
	margin-right: 0rem;
}
#contact{
	margin-top: 10rem;
	height:80vh;
}


#sky{
	background-color: #E2E2E2;
	padding-bottom: 12rem;
	position: relative;
	width: 100%;
	height:80vh;
}

#trees{
}
.wood-clouds{
	position:absolute;
	width:100%;
	bottom: -3rem;

}
#trees{

    position: relative;
}

#clouds{
	position: relative;
	top:5rem;
}


.page-footer{
	background-color:#E94E4A;
	padding: 2rem; 
}

button{
	margin-bottom: 1rem;
	margin-top: 1rem;
	padding-top:0.6rem;
	padding-bottom:0.6rem;
	padding-left:1.2rem;
	width: 7rem;
	padding-right:1.2rem;
	border: solid 3px #E94E4A;
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1rem;
	color: #E94E4A; 
	display: inline-block;
}

button:active{
	background-color: #E94E4A;
	color: white; 
}

button:focus{
	outline:none; 
}

.contact-buttons{
    text-align: center;
    margin-top: 3rem;
    display: inline-block;
    width: 100%;
}

.contact-buttons button:nth-child(2){
	margin-left:2rem;
}

.parallax-mirror {
	display: none;
}

#send-form-button{
	float:right;
}

#portfolio-button{
	float:left;
}

#blog-button{
	float:right;
}

.link-portfolio a{
	margin-bottom: 1rem;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
	padding-top:0.6rem;
	padding-bottom:0.6rem;
	padding-left:1.2rem;
	width: 7rem;
	padding-right:1.2rem;
	border: solid 3px #E94E4A;
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.1rem;
	color: #E94E4A; 
	display: block;
	text-align: center;
	text-decoration: none;
}

.link-portfolio a:active{
	color: #fff; 
	background-color: #E94E4A;
}

.portfolio-title-home h4{
	
    position: absolute;
    width: 100%;
    top: 5rem;
    z-index: 10;
    text-align: center;
    color: transparent;
    font-weight: 400;
    font-size: 1.8rem;
    text-decoration:none;

}

.portfolio-title-home a{
	
    color: transparent;
    text-decoration:none;

}

.post_home:hover .portfolio-title-home a{
	color: black;

     -webkit-transition: color 0.5s; 
    transition: color 0.5s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
}


input {
	font-family: 'Roboto', sans-serif;
    background-color: #E2E2E2;
    padding: 1rem;
    font-size: 1rem;
    border-width: 0px;
}

textarea {
	font-family: 'Roboto', sans-serif;
    background-color: #E2E2E2;
    padding: 1rem;
    font-size: 1rem;
    border-width: 0px;
    width: 100%;
    height: 6rem;
    box-sizing: border-box;
}







/*imported from previous file*/

.post_home {
    width:100%;
    float: left;
    animation-duration: 2s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    animation-name: anim;
    /**repairs glich with picture moving slightly on hover**/
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
 }

.post_home_mouseover{
}
.post_home img{
    width:100%;
    height: 60%;
    float: left;
     -webkit-transition: opacity 0.5s; 
    transition: opacity 0.5s;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    /**repairs glich with picture moving slightly on hover**/
    -webkit-backface-visibility: hidden;
 }



  .post_home:hover img{
    opacity: 0.3;
    filter: alpha(opacity=50); 

    -webkit-backface-visibility: hidden;

 }

  .entry-header{
    width: 100%;
    height: 12rem;
 }

 .entry-title{
    margin-top: 3.5rem;
    color: #000;
 }

 .entry-content{
    width:100%;    
    margin: auto;
 }

  .entry-content img{
    width:100%; 
    height: auto;   
    margin: auto;
 }

.portfolio-categories li{
    float:left;
 }

  .portfolio-category{
    margin-top: 1rem;
    float: left

    
 }

 .portfolio-category-badge{
    width: 2.5rem;
    height: 2.5rem;
    color: transparent;
    margin-left: 1rem;
    text-align: center;
     text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

 }

 .says,
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute !important;
	width: 1px;
}

.post-navigation{
	margin-bottom:3rem;
}
#category_3{
    background-image: url(images/code.svg);
 }

 #category_5{
    background-image: url(images/UX.svg);
 }

 #category_4{
    background-image: url(images/design.svg);
 }

.inner_page{
	margin-top: 3rem;
	margin-bottom:3rem;
    display: inline-block;
}
.portfolio-header {
    display: inline-block;
    width: initial;
}

.portfolio-content{
	margin-left: 1.5rem;
	margin-right: 1.5rem;

}
.main-inner-header{
	text-align: center;
}

.portfolio-content img{
	width: 100%;
	height: auto;
	
}

.portfolio-title{
	display: inline-block;
	float:left
}

.main-inner {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.post-navigation h2{
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
}


.quotation:before, .quotation_left:before{
	content: open-quote;
    font-size: 10rem;    
	font-family: 'Suez One', serif;
	color: #E94E4A ;
	float: left;
    position: relative;
    bottom: 3rem;
    padding: 1rem;
}

.quotation:after, .quotation_left:after{
	content: close-quote;
    float: right;
    font-size: 10rem;    
	font-family: 'Suez One', serif;
	color: #E94E4A ;
    position: relative;
    right: -5rem;
    bottom: 4rem;
    padding: 1rem;
}

.quotation{
	quotes: "“" "”" "‘" "’";
    float: right;
    width: 40%;
    margin-top: 2rem;
    margin-bottom: -9rem;
    margin-left: 1rem;
    color: #000;

    margin-right: -2rem;
}

.quotation_left{
	quotes: "“" "”" "‘" "’";
    float: left;
    width: 40%;
    margin-top: 2rem;
    margin-bottom: -9rem;
    margin-right: 6rem;
    color: #000;

    margin-left: -6rem;
}

.quotation h3, .quotation_left h3{
    color: #000;
    font-size: 2.6rem;
}


#sandbox {
    float: right;
    position: relative;
    bottom: 0rem;
}

#sandbox-mouseover{
    display: none;
    position: fixed;
    width: 15rem;
    bottom: 7rem;
    right: 0.5rem;
    height: 15rem;
    float: right;
    background-color: #fff;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 12px 20px 0px;
    font-size: 1.2rem;
    text-align: center;

}

#sandbox:hover + #sandbox-mouseover{
	display: block;
}
#sandbox-mouseover:hover{
	display: block;
}

#sandbox-mouseover img{
	width:6rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 2rem;
}

#sky-top{
	position: relative;
	top:3rem;
}

/** toggle */

.hamburger{
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
}
.hamburger span {
  background-color: black;
  width: 30px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
}

.rotate_top {
  transform: rotateZ(135deg) translateX(7px) translateY(-7px);
  transition: ease-in-out 0.5s;
  background-color: #E94E4A !important;
}

.rotate_middle {
  transform: rotateZ(255deg) translateX(0px) translateY(0px);
  transition: ease-in-out 0.7s;
  background-color: transparent !important;
}

.rotate_bottom {
  transform: rotateZ(-135deg) translateX(7px) translateY(7px);
  transition: ease-in-out 0.5s;
  background-color: #E94E4A !important;
}

.hamburger span:nth-child(1) {
  top: 0px;
  transition: ease-in-out 0.5s;
}

.hamburger span:nth-child(2) {
  top: 6px;
  transition: ease-in-out 0.5s;
}

.hamburger span:nth-child(3) {
  top: 12px;
  transition: ease-in-out 0.5s;
}

#popout li{
    margin-top: 1rem;
}

/*toggle*/

/** hamburger menu */


#popout {
    position: fixed;
    height: 100%;
    width: 250px;
    background: rgba(256, 256, 256, 1);
    color: white;
    top: 0px;
    left: -270px;
    overflow:auto;
    z-index: 1;

    box-shadow: rgba(0, 0, 0, 0.05) 13px 0px 20px;
}


#toggle {
    z-index: 1;
    float: right;
    position: fixed;
    top: 1rem;
    right: 1rem;
    height:3rem;
    width:3rem;
}

.nav-menu li { 
    border-bottom:1px solid #eee; 
    padding:20px;
    width:100%;
}

.nav-menu li:hover { 
    background:#CCC;
}

.nav-menu li a { 
    color:#FFF;
    text-decoration:none;
    width:100%;
}



/** /hamburger menu */


}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------over 400-------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 400px){
body{
	font-size: 1.4rem;
}

h1{
	font-size: 2.2rem;
}

h2{
	font-size: 2.8rem;
}

h3{
	font-size: 2.3rem;
}

h4{
}

.logo{
}

.logo-text{
	padding:1rem;
}

.logo-image{
width:6rem;
}

.section:nth-child(1){
	margin-bottom:-15rem;
}

button{
	padding-top:0.8rem;
	padding-bottom:0.8rem;
	width: 10rem;
	border: solid 3px #E94E4A;
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	color: #E94E4A; 
	display: inline-block;
}

.link-portfolio a{
	padding-top:0.8rem;
	padding-bottom:0.8rem;
	width: 10rem;
	border: solid 3px #E94E4A;
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	color: #E94E4A; 
	display: inline-block;
}

.main-inner {
	margin-top: 6rem;
}

#intro{
	font-size: 2.2rem;
}





.section{
	margin-bottom: 8rem;
	margin-left: 2rem;
	margin-right: 2rem;
}

.inner-section {
    margin-left: 2rem;
    margin-right: 2rem;
}

#sky-top{
	position: relative;
	top:5rem;
}


}


/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------over 600-------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

@media only screen and (min-width: 600px){
body{
	font-size: 1.6rem;
}

h1{
	font-size: 2.5rem;
}

h2{
	font-size: 3.2rem;
}

h3{
	font-size: 2.8rem;
}

h4{
}

.logo{
}

.logo-text{
	padding:1rem;
}

.logo-image{
width:7.5rem;
}

.section:nth-child(1){
	margin-bottom:-15rem;
}


button{
	padding-top:1rem;
	padding-bottom:1rem;
	width: 13rem;
	border: solid 3px #E94E4A;
	font-size: 1.4rem;
}

.link-portfolio a{
	padding-top:1rem;
	padding-bottom:1rem;
	width: 13rem;
	border: solid 3px #E94E4A;
	font-size: 1.4rem;
}

.main-inner {
	margin-top: 4rem;
}

#intro{
	font-size: 2.8rem;
}





.section{
	margin-bottom: 8rem;
	margin-left: 3rem;
	margin-right: 3rem;
}

.inner-section {
    margin-left: 3rem;
    margin-right: 3rem;
}

#sky-top{
	position: relative;
	top:5rem;
}
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------over 900-------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@media only screen and (min-width: 900px){

body{
	font-size: 1.6rem;
}

h1{
	font-size: 4rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

h2{
	font-size: 3.6rem;
}

h3{
	font-size: 3rem;
}

h4{
}


article{
	width:1000px;
	margin-left: auto;
	margin-right: auto;
}

.logo-image{
width:8rem;
}

#intro{
	font-size: 4rem;
}

nav{
	display: block;
	width:600px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#popout {
    position: initial;
    height: initial;
    width: initial;
    background: initial;
    background: initial;
    color: initial;
    top: initial;
    left: initial;
    overflow:initial;
    box-shadow: initial;
}

#toggle {
    display:none;
}


nav ul{display: inline-block;
}

nav li{
	float: left;
	padding: 1rem;
}

.post-navigation{
	display: block;
	width:800px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

	color: #E2E2E2;
}

.nav-links{
	display: inline-flex;
	margin-top: 1rem;
}

.nav-previous{
	margin-right: 2rem;
}



.section{
	width:750px;
	margin-bottom: 8rem;
	margin-left: auto;
	margin-right: auto;
	height: 100vh;
}

.inner-section{
	width:750px;
	margin-left: auto;
	margin-right: auto;
}
#sandbox{
	float:right;
	position: relative;
	bottom: 6rem;
	right: 6rem;

}

#sandbox-mouseover{
    bottom: 7rem;
    right: 2rem;
}

.section:nth-child(1){
	margin-bottom:-7rem;
}
.section:nth-child(2){
	margin-bottom:0rem;
	width:100%;
}
.section:nth-child(3){
	margin-top: 0rem;
	height:100vh;
}

.portfolio-header {
}

button{
	padding-top:1rem;
	padding-bottom:1rem;
	width: 20rem;
	border: solid 3px #E94E4A;
	font-size: 1.8rem;
}

.link-portfolio a{
	padding-top:1rem;
	padding-bottom:1rem;
	width: 20rem;
	border: solid 3px #E94E4A;
	font-size: 1.8rem;
}

.wood-clouds {
    display: none;
}



/** paralax */


.parallax-container {
	position: relative;
	top: 150px;
	background: transparent;
	height: 300px;
}

.parallax-container-sky {
	background: transparent;
	height: 300px;
}

.parallax-container-clouds {
	position: relative;
	background: transparent;
	height: 300px;
	top: -500px;
}

.parallax-mirror {
	display: unset;
}


/** paralax */

.page-footer{

    margin-top: 0px;
}

#sky{
	padding-bottom: 19rem;
	display: inline-block;
}

#services{
	padding-bottom: 0rem;
}

#contact{
	padding-top: 5rem;
	height: 100vh;
}


#sky-top{
display: none;
}

#links{
	padding-left: 5rem;
	padding-bottom: 5rem; 
}


 .portfolio-category-badge{
    width: 4rem;
    height: 4rem;
    margin-left: 2rem;

 }
   .portfolio-category{
    margin-top: 3rem;

    
 }

/* imported from prev----------------------------------------------------------------*/
/** 3.0 Header */

#logo {
    font-size: 5rem;
}

#menu{
    margin-left: 12rem;
    font-size: 2rem;
    line-height: 1.2;
}

/** content*/
 
.post_home .entry-header{
 }

.post_home {
    width:33.3%;
    float: left;
 }

 .entry-content{
    width:800px;    
    margin: auto;
 }

.portfolio-content{
	width:800px;
	margin-left: auto;
	margin-right: auto;

}

.portfolio-content img{
	width:800px;
	
}
.author-heading{
	text-align: left;
	font-size: 2rem;
	padding-bottom: 1rem;
	padding-left: 0.7rem;
}

.author-info{
	margin-top: 3rem;
	padding:1.5rem;
	background-color: #E2E2E2;
	box-sizing: border-box;

}
.author-avatar img{
	width:6rem;
	height: auto;
	border-radius: 60px;
	border: 5px solid #E2E2E2;
}

.author-avatar {
	float:left;
	margin-right: 2rem;
}

.author-title{
	font-weight: 400;
	padding-bottom: 0.5rem;
}

.author-description{
	padding-top: 1.4rem;
	height:6rem;
}

}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* -------------------------------------------------------------------------------------------over 1200-------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


@media only screen and (min-width: 1200px){

body{
	font-size: 1.6rem;
}

h1{
	font-size: 4rem;
	padding-top: 2rem;
	padding-bottom: 2rem;
}

h2{
	font-size: 4rem;
}

h3{
	font-size: 3.2rem;
}

h4{
}

.logo-image{
width:10rem;
}

#sky{
	padding-bottom: 14rem;
}

.section{
	width:1000px;
	margin-bottom: 8rem;
	margin-left: auto;
	margin-right: auto;
	height: 100vh;
}

.inner-section{
	width:1000px;
	margin-left: auto;
	margin-right: auto;
}

button{
	padding-top:1rem;
	padding-bottom:1rem;
	width: 25rem;
	border: solid 3px #E94E4A;
	font-size: 1.8rem;
}

.link-portfolio a{
	padding-top:1rem;
	padding-bottom:1rem;
	width: 25rem;
	border: solid 3px #E94E4A;
	font-size: 1.8rem;
}

input {
	font-family: 'Roboto', sans-serif;
    background-color: #E2E2E2;
    padding: 1rem;
    font-size: 1.4rem;
    border-width: 0px;
}

textarea {
	font-family: 'Roboto', sans-serif;
    background-color: #E2E2E2;
    padding: 1rem;
    font-size: 1.4rem;
    border-width: 0px;
    width: 100%;
    height: 12rem;
}

.contact-form{
	margin-top: 4rem;
	margin-bottom: 4rem;
}

/** paralax */


.parallax-container {
	position: relative;
	top: 150px;
	background: transparent;
	height: 300px;
}

.parallax-container-sky {
	background: transparent;
	height: 300px;
}

.parallax-container-clouds {
	position: relative;
	background: transparent;
	height: 300px;
	top: -500px;
}

.parallax-mirror {
	display: unset;
}


/** paralax */


/** 3.0 Header */


/** content*/

.post_home {
    width:20%;
 }

 .entry-content{
    width:1000px; 
 }

 .portfolio-content{
	width:1000px;
	margin-left: auto;
	margin-right: auto;

}

.portfolio-content img{
	width:1000px;
	
}

.portfolio-content p{
	margin-top: 2rem;
	margin-bottom: 2rem;
	
}



}